body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

/* Nav Bar */
#nav-container {
  margin: 0px auto;
  height: 90px;
  position: relative;
}

.navBar {
  background-color: transparent;
  width: 95%;
  height: 70px;
  min-width: 690px;
  min-height: 30px;
  text-align: right;
  padding: 20px 20px;
}

.navBar img {
  top: 46px;
  left: 60px;
  z-index: 999;
  position: absolute;
}

.navBar ul {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.navBar li {
  list-style-type: none;
  padding: 0px;
  display: inline;
}

.navBar li a {
  color: black;
  font-size: 1em;
  text-decoration: none;
  line-height: 70px;
  padding: 20px 25px;
}

li:hover {
  text-decoration: underline;
}

.navBar p {
  text-align: left;
  position: absolute;
  left: 80px;
  top: 30px;
  font-size: 1em;
}

#logo {
  text-decoration: none;
  color: black;
}

/* Nav Bar */

/* Index */

#myFace {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px 20px 0px 0px;
}

.headerH1 {
  position: relative;
  top: 72px;
  left: 10px;
  font-size: 2em;
}

.writeoverImage {
  position: absolute;
  z-index: 1;
}

.centerGif {
  display: block;
  margin: 0 auto;
  padding: 190px;
}

#wantToFindOutMore {
  color: #54cdff;
  text-decoration: none;
}

/* Index */

/* Projects */

@media (min-width: 993px) {
  #center-div {
    width: 100%;
    text-align: center;
  }

  .project-div {
    display: inline-block;
    text-align: left;
  }

  .project-div img {
    float: left;
    width: 500px;
    margin: 50px 0px 50px 0px;
  }

  #ildangbaek-text {
    position: relative;
    left: 50px;
    top: 190px;
    width: 900px;
  }

  #limtexteditor-img {
    width: 600px;
  }

  #limtexteditor-text {
    position: relative;
    left: 30px;
    top: 40px;
    width: 900px;
  }

  #makemymeal-img {
    width: 300px;
    padding: 0px 30px 0px 100px;
  }

  #makemymeal-text {
    position: relative;
    left: 50px;
    top: 190px;
    width: 900px;
  }

  .project-p-mobile {
    display: none;
  }
  .project-p-desktop {
    display: block;
  }
}
/* Projects */

/* Heading with a coloured box */
.heading-div {
  display: block;
  padding: 90px 20px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2;
}

#projects-div {
  /*background-color: #fe5701; */
  border-top: 1px solid black;
}

#resume-div {
  background-color: #54cdff;
}

#contact-div {
  background-color: blanchedalmond;
}

#about-div {
  background-color: #b0614e;
}

/* Heading with a coloured box */

/* Test stuff */

#box {
  background-color: blanchedalmond;
  visibility: hidden;
}

/* Test stuff */

/* Footer */

footer {
  display: block;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-size: 0.75em;
}

/* Footer */

/* Site Wide */
.clear {
  clear: both;
}

.contentDiv {
  margin: 10px 20px;
}

/* Site Wide */

/* For Mobile Devices */

@media (max-width: 992px) {
  /* Projects */

  #projects-div {
    border-top: 1px solid black;
    font-size: 0.9em;
  }

  .project-div {
    padding: 0px 120px 30px 120px;
    text-align: center;
    font-size: 0.9em;
  }

  .project-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
  }

  #ildangbaek-img {
    width: 40%;
  }

  #limtexteditor-img {
    width: 60%;
  }

  #makemymeal-img {
    width: 27%;
  }

  .project-p-mobile {
    display: block;
  }
  .project-p-desktop {
    display: none;
  }
  /* Projects */
}

/* For Mobile Devices */
