body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#nav-container {
  margin: 0px auto;
  height: 90px;
  position: relative;
}

.navBar {
  background-color: transparent;
  width: 95%;
  height: 70px;
  min-width: 690px;
  min-height: 30px;
  text-align: right;
  padding: 20px 20px;
}

.navBar img {
  top: 46px;
  left: 60px;
  z-index: 999;
  position: absolute;
}

.navBar ul {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.navBar li {
  list-style-type: none;
  padding: 0px;
  display: inline;
}

.navBar li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 20px 25px;
}

.navBar p {
  text-align: left;
  position: absolute;
  left: 80px;
  top: 30px;
  font-size: 16px;
}

.contentDiv {
  padding: 10px 20px;
}

.headerImg {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  top: 150px;
}

.headerH1 {
  position: relative;
  top: 45px;
  left: 10px;
}

.writeoverImage {
  position: absolute;
  z-index: 1;
}

.centerGif {
  display: block;
  margin: 0 auto;
  padding: 190px;
}

.heading-div {
  display: block;
  padding: 90px 50px;
  text-align: center;
  background-color: #fe5701;
  font-size: 125%;
}

.clear {
  clear: both;
}

a:visited {
  color: #ec7063;
}

footer {
  display: block;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}
